{% extends 'base.html.twig' %}

{% block title %}Votre profil
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5">
		<div class="row">
			<h1>Je suis sur le profil d'un chauffeur</h1>

		</div>
	</div>


{% endblock %}
